<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/main.css" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
</head>
<body>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


<!--<div th:if="${#authorization.expression('hasAuthority(''MANAGER'')')}" class="btn-group btn-group-justified">-->
<div data-toggle="buttons">
<div class="my-group btn-group btn-group-justified">
    <a id="button_category" class="btn btn-warning">Add category</a>
    <a id="button_employee" class="btn btn-warning">Add employee</a>
    <a id="button_cust_card" class="btn btn-warning">Add customer card</a>
</div>

<div class="my-group-2 btn-group btn-group-justified">
    <a id="button_product" class="btn btn-warning">Add product</a>
    <a id="button_product_store" class="btn btn-warning">Add product in store</a>
    <a id="button_check" class="btn btn-warning">Add check</a>
</div>
</div>

<form id="category" style="visibility: hidden; display: none;">
    <h2>Add category</h2>
    <div class="col1">
        <p>Category name : </p>
        <input type="text" placeholder="Category name" name="cat_name">
        <button class="btn btn-success" type="submit">Add</button>
    </div>
</form>

<form id="employee" style="visibility: hidden; display: none;">
    <h2>Add employee</h2>
    <div class="col1">
        <p>Id employee : </p>
        <input type="text" placeholder="Id employee" name="em_id">
        <p>Employee surname : </p>
        <input type="text" placeholder="Employee surname" name="em_surname">
        <p>Employee name : </p>
        <input type="text" placeholder="Employee name" name="em_name">
        <p>Employee patronymic : </p>
        <input type="text" placeholder="Employee patronymic" name="em_patron">
        <p>Role : </p>
        <select name="em_role">
            <option>Manager</option>
            <option>Kassir</option>
        </select>
        <p>Salary : </p>
        <input type="number" placeholder="Salary" name="em_salary">
        <p>Date of birth : </p>
        <input type="date" placeholder="Date of birth" name="em_date_birth">
    </div>
    <div class="col2">
        <p>Date of start : </p>
        <input type="date" placeholder="Date of start" name="em_date_start">
        <p>Phone number : </p>
        <input type="tel" placeholder="Phone number" name="em_phone">
        <p>Employee city : </p>
        <input type="text" placeholder="City" name="em_city">
        <p>Employee street : </p>
        <input type="text" placeholder="Street" name="em_street">
        <p>Zip code : </p>
        <input type="number" placeholder="Zip code" name="em_zipcode">
        <button class="btn btn-success" type="submit">Add</button>
    </div>
</form>

<form id="cust_card" style="visibility: hidden; display: none;">
    <h2>Add customer</h2>
    <div class="col1">
        <p>Card number : </p>
        <input type="number" placeholder="Card number" name="cust_card_num">
        <p>Customer surname : </p>
        <input type="text" placeholder="Customer surname" name="cust_surname">
        <p>Customer name : </p>
        <input type="text" placeholder="Customer name" name="cust_name">
        <p>Customer patronymic : </p>
        <input type="text" placeholder="Customer patronymic" name="cust_patron">
        <p>Phone : </p>
        <input type="tel" placeholder="Phone" name="cust_phone">
    </div>
    <div class="col2">
        <p>Customer city : </p>
        <input type="text" placeholder="City" name="cust_city">
        <p>Customer street : </p>
        <input type="text" placeholder="Street" name="cust_street">
        <p>Zip code : </p>
        <input type="number" placeholder="Zip code" name="cust_zipcode">
        <p>Percent : </p>
        <input type="number" placeholder="Percent" name="cust_percent">
        <button class="btn btn-success" type="submit">Add</button>
    </div>
</form>

<form id="product" style="visibility: hidden; display: none;">
    <h2>Add product</h2>
    <p>Category name : </p>
        <select id='prod_cat_name'>
        </select>
    <br>
    <p>Product name : </p>
    <input type="text" placeholder="Product name" name="prod_name">
    <p>Characteristics : </p>
    <textarea type="text" placeholder="Characteristics" name="prod_char"></textarea>
    <button class="btn btn-success" type="submit">Add</button>
</form>



<form id="product_store" style="visibility: hidden; display: none;">
    <h2>Add product in store</h2>
    <div class="col1">
        <p>UPC : </p>
        <input type="text" placeholder="UPC" name="st_upc">
        <p>Product name: </p>
        <select id='st_pr_id' onchange="changeProductUPC()">
        </select>
        <br>
        <p>UPC promotion : </p>
        <select id='st_upc_prom'>
        </select>
        <br>
        <p>Selling price : </p>
        <input type="text" placeholder="Selling price" name="st_price">
    </div>
    <div class="col2">
        <p>Products number : </p>
        <input type="text" placeholder="Products number" name="st_number">
        <p>Is promotional : </p>
        <select id='st_is_prom'>
            <option>Yes</option>
            <option>No</option>
        </select>
        <button class="btn btn-success" type="submit">Add</button>

    </div>

</form>

<form id="check" style="visibility: hidden; display: none;">
    <h2>Add check</h2>
    <p>Category name : </p>
    <input type="text" placeholder="Category name" name="cat_name">
    <button class="btn btn-success" type="submit">Add</button>

</form>


<script>

    function makeAllFormsHidden(){
        var forms = document.querySelectorAll("form");
        forms.forEach(function(form){
            form.style.visibility = 'hidden';
            form.style.display = 'none';

        });
    }

    function changeProductUPC(){
        $.ajax({
            url: '/get_upc_product/'+document.getElementById("st_pr_id").value,
            type: "get",
            success: function (response) {
                document.getElementById("st_upc_prom").innerHTML='<option selected="selected" value="None">None</option>';
                response.forEach(function (pr) {
                    document.getElementById("st_upc_prom").innerHTML+= '<option value="'+pr+'">'+pr+'</option>';
                })
            },
            error: function(err){
                console.log(err);
            }
        });

    }

    $(function() {

        $('#button_category').click(function(e) {
            makeAllFormsHidden();
            document.getElementById("category").style.visibility = 'visible';
            document.getElementById("category").style.display = 'block';

        });
        $('#button_employee').click(function(e) {
            makeAllFormsHidden();
            document.getElementById("employee").style.visibility = 'visible';
            document.getElementById("employee").style.display = 'block';
        });
        $('#button_cust_card').click(function(e) {
            makeAllFormsHidden();
            document.getElementById("cust_card").style.visibility = 'visible';
            document.getElementById("cust_card").style.display = 'block';
        });
        $('#button_product').click(function(e) {
            makeAllFormsHidden();
            document.getElementById("product").style.visibility = 'visible';
            document.getElementById("product").style.display = 'block';

            $.ajax({
                url: '/get_categories',
                type: "get",
                success: function (response) {
                    response.forEach(function (cat) {
                        document.getElementById("prod_cat_name").innerHTML+= '<option value="'+cat.category_name+'">'+cat.category_name+'</option>';
                    })
                },
                error: function(err){
                    console.log(err);
                }
            });

        });
        $('#button_product_store').click(function(e) {
            makeAllFormsHidden();
            document.getElementById("product_store").style.visibility = 'visible';
            document.getElementById("product_store").style.display = 'block';



            $.ajax({
                url: '/get_all_products',
                type: "get",
                success: function (response) {
                    var i = 0;
                    response.forEach(function (pr) {
                        if(i==0)
                            document.getElementById("st_pr_id").innerHTML+= '<option selected="selected" value="'+pr.id_product+'">'+pr.product_name+' (id = '+pr.id_product+') '+'</option>';
                        else
                            document.getElementById("st_pr_id").innerHTML+= '<option value="'+pr.id_product+'">'+pr.product_name+' (id = '+pr.id_product+') '+'</option>';
                        i++;
                    });
                    changeProductUPC();
                },
                error: function(err){
                    console.log(err);
                }
            });

        });
        $('#button_check').click(function(e) {
            makeAllFormsHidden();
            document.getElementById("check").style.visibility = 'visible';
            document.getElementById("check").style.display = 'block';
        });


        $('#category').submit(function(e) {
            e.preventDefault();

            $.ajax({
                type: 'POST',
                url: '/add_category',
                data: '{category_name:'+$(this).find('[name=cat_name]').val()+'}',

                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Content-Type', 'application/json')
                },
                success: function (response) {
                    console.log(response);

                },
                error: function(err){
                    console.log(err);
                }
            });
        });

        $('#employee').submit(function(e) {
            e.preventDefault();
            console.log($(this).find('[name=em_role]').val());
            var d = '{id_employee:'+$(this).find('[name=em_id]').val()+
                    ', empl_surname:'+$(this).find('[name=em_surname]').val()+
                    ', empl_name:'+$(this).find('[name=em_name]').val()+
                    ', empl_patronymic:'+$(this).find('[name=em_patron]').val()+
                    ', role:'+$(this).find('[name=em_role]').val()+
                    ', salary:'+$(this).find('[name=em_salary]').val()+
                    ', date_of_birth:'+$(this).find('[name=em_date_birth]').val()+
                    ', date_of_start:'+$(this).find('[name=em_date_start]').val()+
                    ', phone_number:'+$(this).find('[name=em_phone]').val()+
                    ', city:'+$(this).find('[name=em_city]').val()+
                    ', street:'+$(this).find('[name=em_street]').val()+
                    ', zip_code:'+$(this).find('[name=em_zipcode]').val()+'}';


                $.ajax({
                type: 'POST',
                url: '/add_employee',
                data: d,

                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Content-Type', 'application/json')
                },
                success: function (response) {
                    console.log(response);

                },
                error: function(err){
                    console.log(err);
                }
            });
        });


    });


</script>


</body>
</html>

