.my-group, .my-group-2{
    margin-top: 30px;
}

.my-group, .my-group-main{
    margin-left: 50px;
}
.my-group-main, .my-group-main-2{
    margin-bottom: 0px;
    margin-top: 0px;
}
h2{
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.my-group-2, .my-group-main-2{
    margin-left: -10px;
}

form{
    margin-left: 30px;
}

input, p, select, textarea{
    display: block;
}

select{
    width: 40%;
}

textarea {
    resize: none;
    width: 40%;
    height: 70px;
}

p{
    margin: 0px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.btn{
    margin-top: 15px;
}


.col1, .col2{
    float: left;
    width: 40%;
    margin-left: 10%;
}


.big_input{
    width: 70%;
}



.main_h2{
    margin-bottom: 10px;
}


@media screen and (max-width: 750px) {
    .col1, .col2 {
        width: 95%;
        margin-left: 5%;
    }
}

@media screen and (max-width: 950px) {

    .my-group-2{
        margin-left: 50px;
        margin-top: -5px;
    }
}

@media screen and (max-width: 650px) {

    .my-group-main-2{
        margin-left: 50px;
        margin-top: -5px;
    }
}

