body {
}

.col2{
    float: left;
    width: 90%;
    margin-left: 5%;
}

input, button, h1, h3{
    margin-left: 30px;
}


p{
    margin-bottom: 5px;
}

p, button{
    display: inline-block;

}

button{
    margin-top: 30px;
    margin-bottom: 30px;
}

h1{
    padding-bottom: 40px;
    padding-top: 30px;
}

.edit_button, .remove_button{
    margin: 0px;

}

@media print {
    @page {
        size: auto;   /* auto is the initial value */
        margin-bottom: 0;  /* this affects the margin in the printer settings */
    }

    p,input,button,h1,h2,h3,select,textarea{
        visibility: hidden;
        display: none;
    }

    .col2{
        visibility: visible;
        display: inline-block;
        width: 100%;
        margin: 0px;
    }

    .table{
        visibility: visible;
    }
}