<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Supermarket</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/main.css" type="text/css">
</head>
<body>
<div th:insert="~{fragments/header :: head}"></div>

<h2 class="main_h2">Customer information</h2>
<div class="my-group-main">
    <a href="/all_customers_contacts" class="btn btn-warning">Get all customers contacts</a>
    <a href="/customers_by_percent" class="btn btn-warning">Get customers by percent</a>
    <a href="/customers_by_surname" class="btn btn-warning">Get customers by surname</a>


</div>



</body>
</html>