<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Supermarket</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/main.css" type="text/css">
</head>
<body>
<div th:insert="~{fragments/header :: head}"></div>

<h2 class="main_h2">Product information</h2>
<div class="my-group-main">
    <a th:if="${#authorization.expression('hasAuthority(''MANAGER'')')}" href="/products_by_category_sorted_name" class="btn btn-warning">Get products with category sorted by name</a>
    <a href="/all_products_sorted_name" class="btn btn-warning">Products sorted by name</a>
    <a href="/all_products_by_category" class="btn btn-warning">Get products with category</a>
    <a href="/num_product_saled_between_time" class="btn btn-warning">Get total sum of product saled between time</a>


    <a href="/products_by_check_number" class="btn btn-warning">Get products by check number</a>


</div>



</body>
</html>