<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Get checks by check number</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/table_style.css" type="text/css">

</head>
<body>
<div th:insert="~{fragments/header :: head}"></div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>


<div class="col2">
    <h1>Get checks by check number</h1>

    <form id="form">

        <p>Check number: </p>
        <select id='st_pr_id' name='st_pr_id'>
        </select>

        <button class="btn btn-success" type="submit">Search</button>
    </form>


    <table id="table" class="table table-hover table-bordered" style="visibility: hidden;">
        <thead>
        <th>CHECK NUMBER</th>
        <th>CARD NUMBER</th>
        <th>PRINT DATE</th>
        <th>TOTAL</th>
        <th>VAT</th>
        <th>VIEW</th>
        </thead>
        <tbody id="table_body">
        <tr class = "table_row" >

        </tr>
        </tbody>
    </table>

    <h3 id="no_results" style="visibility: hidden">No results found</h3>


</div>


<script>
    var $products = $('#table_body');

    function formTableRow(check){
        return '<tr class = "table_row" id="'+check.check_number+'"><td>' + check.check_number + '</td>' +
            '<td>' + check.card_number + '</td>' +
            '<td>' + check.print_date + '</td>' +
            '<td>' + check.sum_total + '</td>' +
            '<td>' + check.vat + '</td>' +
            '<td><button class="view_button edit_button btn btn-success" value="'+check.check_number+'" type="submit">View</button></td>' +
            '</tr>';
    }

    $(function() {

        $.ajax({
            url: '/get_all_checks',
            type: "get",
            success: function (response) {
                document.getElementById("st_pr_id").innerHTML= '';
                response.forEach(function (ch) {
                    var i=0;
                    if(i==0) {
                        document.getElementById("st_pr_id").innerHTML += '<option selected="selected" value="' + ch.check_number + '">' + ch.check_number + '</option>';
                        i++;
                    }else
                        document.getElementById("st_pr_id").innerHTML += '<option value="' + ch.check_number + '">' + ch.check_number + '</option>';

                });
            },
            error: function(err){
                console.log(err);
            }
        });



        $('#form').submit(function(e) {
            e.preventDefault();

            $products.empty();

            var data = {
                check_number: $(this).find('[name=st_pr_id]').val(),
            };

            $.ajax({
                type: 'GET',
                url: '/get_check_by_check_number',
                dataType: 'json',
                data: data,

                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Content-Type', 'application/json')
                },
                success: function (response) {
                    // $('input').val('');
                    if(response.length == 0){
                        document.getElementById("table").style.visibility = 'hidden';
                        document.getElementById("no_results").style.visibility = 'visible';
                    }
                    else {
                        document.getElementById("table").style.visibility = 'visible';
                        document.getElementById("no_results").style.visibility = 'hidden';
                        $products.append(formTableRow(response));
                    }


                }
            });
        });

        $(document).ready(function() {


            $(document).on("click",".view_button",function() {
                window.location.href = "/view_sale/"+$(this).val();
            });
        });




    });




</script>


</body>
</html>