<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit check</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/main.css" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
</head>
<body>
<div th:insert="~{fragments/header :: head}"></div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


<!--<div th:if="${#authorization.expression('hasAuthority(''MANAGER'')')}" class="btn-group btn-group-justified">-->

<form id="check" th:name="${ch_id}">
    <h2>Edit check</h2>
    <p>Check number : </p>
    <input class="big_input" type="text" placeholder="Check number" name="check_number">
    <p>Employee : </p>
    <select class="big_input" id='ch_empl' name='ch_empl'>
    </select>
    <p>Customer's card number : </p>
    <select class="big_input" id='ch_card' name='ch_card'>
    </select>
    <p>Print date : </p>
    <input class="big_input" type="date" placeholder="Print date" name="ch_date">
    <button class="btn btn-success" type="submit">Edit</button>
</form>


<div class="col2">
    <h1>Products in check: </h1>
        <table id="my_table" class="table table-hover table-bordered">
        <thead>
        <th>UPC</th>
        <th>PRODUCT NAME</th>
        <th>PRODUCT NUMBER</th>
        <th>SELLING PRICE</th>
        <th>EDIT</th>
        <th>REMOVE</th>
        </thead>
        <tbody id="table_body">
        <tr class = "table_row" >

        </tr>
        </tbody>
    </table>

</div>



<script>



    $(function() {
        var id = document.getElementById("check").getAttribute("name");


        var data = {
            check_number: id,
        };



        $.ajax({
            type: 'get',
            url: '/get_check_by_check_number',
            dataType: 'json',
            data: data,

            beforeSend: function (xhr) {
                xhr.setRequestHeader('Content-Type', 'application/json')
            },
            success: function (response) {
                console.log(response);
                var print_date = new Date(response.print_date).toLocaleDateString('en-CA');


                $("input[name='check_number']").val(response.check_number);
                $("select[name='ch_empl']").val(response.id_employee);
                $("select[name='ch_card']").val(response.card_number);
                $("input[name='ch_date']").val(print_date);

                $.ajax({
                    url: '/get_all_employees',
                    type: "get",
                    success: function (response) {
                        document.getElementById("ch_empl").innerHTML= '';
                        response.forEach(function (em) {
                            if(response.id_employee==em.id_employee)
                                document.getElementById("ch_empl").innerHTML+= '<option selected="selected" value="'+em.id_employee+'">'+em.empl_surname+' '+em.empl_name+' (id = '+em.id_employee+') '+'</option>';
                            else
                                document.getElementById("ch_empl").innerHTML+= '<option value="'+em.id_employee+'">'+em.empl_surname+' '+em.empl_name+' (id = '+em.id_employee+') '+'</option>';
                        });
                    },
                    error: function(err){
                        console.log(err);
                    }
                });
                $.ajax({
                    url: '/get_all_customer_cards',
                    type: "get",
                    success: function (response) {

                        document.getElementById("ch_card").innerHTML = '';
                        response.forEach(function (c) {
                            if (response.card_number==c.card_number)
                                document.getElementById("ch_card").innerHTML += '<option selected="selected" value="' + c.card_number + '">' + c.cust_surname + ' ' + c.cust_name + ' (card number = ' + c.card_number + ') ' + '</option>';
                            else
                                document.getElementById("ch_card").innerHTML += '<option value="' + c.card_number + '">' + c.cust_surname + ' ' + c.cust_name + ' (card number = ' + c.card_number + ') ' + '</option>';
                        });
                    },
                    error: function(err){
                        console.log(err);
                    }
                });



            },
            error: function (err) {
                console.log(err);
            }
        });

        $('#check').submit(function(e) {
            e.preventDefault();

            var data = {check_number : $(this).find('[name=check_number]').val()
                , id_employee: $(this).find('[name=ch_empl]').val()
                , card_number: $(this).find('[name=ch_card]').val()
                , print_date: $(this).find('[name=ch_date]').val()
            };

            $.ajax({
                type: 'POST',
                url: '/edit_check/'+id,
                dataType: 'json',
                data: JSON.stringify(data),

                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Content-Type', 'application/json')
                },
                success: function (response) {
                    alert("Success");

                },
                error: function (request, textStatus, errorThrown) {
                    alert(request.getResponseHeader('error'));
                }
            });
        });


    });


</script>


<script>
    var $table = $('#table_body');
    getAll($table);


    function formTableRow(sale){
        return '<tr class = "table_row"><td>' + sale.upc + '</td>' +
            '<td>' + sale.product_name + '</td>' +
            '<td>' + sale.product_number + '</td>' +
            '<td>' + sale.selling_price + '</td>' +
            '<td><button class="edit_button btn btn-success" value="'+sale.upc+'" type="submit">Edit</button></td>' +
            '<td><button class="remove_button btn btn-danger" value="'+sale.upc+'" type="submit">Remove</button></td>' +
            '</tr>';
    }




    function getAll($table){
        var check = document.getElementById("check").getAttribute("name");
        var data = {
            check_number : check
        };

        $.ajax({
            type: 'GET',
            url: '/get_all_sales_with_product_name_by_check_number',
            dataType: 'json',
            data: data,

            beforeSend: function (xhr) {
                xhr.setRequestHeader('Content-Type', 'application/json')
            },

            success: function (response) {
                response.forEach(function (row) {
                    $table.append(formTableRow(row));
                });

            }
        });
    }

    $(document).ready(function() {
        $(document).on("click",".remove_button",function(e) {
            var rowNum = e.target.parentNode.parentNode.rowIndex;
            e.preventDefault();

            var check = document.getElementById("check").getAttribute("name");

            var data = {
                check_number : check,
                upc : $(this).val()
            };

            $.ajax({
                url: '/remove_sale',
                type: "post",
                dataType: 'json',
                data: JSON.stringify(data),
                success: function (response) {
                    document.getElementById("my_table").deleteRow(rowNum);
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Content-Type', 'application/json')
                },
                error: function (request, textStatus, errorThrown) {
                    alert(request.getResponseHeader('error'));
                }
            });

        });

        $(document).on("click",".edit_button",function() {
            var check = document.getElementById("check").getAttribute("name");
            window.location.href = "/edit_sale/"+check+"/"+$(this).val();
        });
    });


</script>



</body>
</html>

