<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit sale</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/main.css" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
</head>
<body>
<div th:insert="~{fragments/header :: head}"></div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


<!--<div th:if="${#authorization.expression('hasAuthority(''MANAGER'')')}" class="btn-group btn-group-justified">-->

<form id="sale" th:name="${upc}" th:value="${check_id}">
    <h2>Edit sale</h2>
    <p>Product number : </p>
    <input class="big_input" type="number" min="1" placeholder="Product number" name="sale_pr_number">
    <p>Selling price : </p>
    <input class="big_input" type="number" step="0.01" min="1" placeholder="Selling price" name="sale_pr_price">
    <button class="btn btn-success" type="submit">Edit</button>
</form>

<script>

    $(function() {
        var upc_id = document.getElementById("sale").getAttribute("name");
        var check_id = document.getElementById("sale").getAttribute("value");


        var data = {
            upc: upc_id,
            check_number: check_id
        };

        console.log(data)

        $.ajax({
            type: 'get',
            url: '/get_sale_by_upc_check_number',
            dataType: 'json',
            data: data,

            beforeSend: function (xhr) {
                xhr.setRequestHeader('Content-Type', 'application/json')
            },
            success: function (response) {
                console.log(response);

                $("input[name='sale_pr_number']").val(response.product_number);
                $("input[name='sale_pr_price']").val(response.selling_price);

            },
            error: function (err) {
                console.log(err);
            }
        });

        $('#sale').submit(function(e) {
            e.preventDefault();

            var data = {
                  upc: upc_id
                , check_number: check_id
                , product_number: $(this).find('[name=sale_pr_number]').val()
                , selling_price: $(this).find('[name=sale_pr_price]').val()

            };
            $.ajax({
                type: 'POST',
                url: '/edit_sale/',
                dataType: 'json',
                data: JSON.stringify(data),

                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Content-Type', 'application/json')
                },
                success: function (response) {
                    alert("Success");

                },
                error: function (request, textStatus, errorThrown) {
                    alert(request.getResponseHeader('error'));
                }
            });
        });


    });


</script>


</body>
</html>

