<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit customer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/main.css" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
</head>
<body>
<div th:insert="~{fragments/header :: head}"></div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


<!--<div th:if="${#authorization.expression('hasAuthority(''MANAGER'')')}" class="btn-group btn-group-justified">-->

<form id="cust" th:name="${cust_id}">
    <h2>Edit customer</h2>

    <div class="col1">
        <p>Card number : </p>
        <input type="text" placeholder="Customer card number" name="cust_card_num">
        <p>Customer surname : </p>
        <input type="text" placeholder="Customer surname" name="cust_surname">
        <p>Customer name : </p>
        <input type="text" placeholder="Customer name" name="cust_name">
        <p>Customer patronymic : </p>
        <input type="text" placeholder="Customer patronymic" name="cust_patron">
        <p>Phone : </p>
        <input type="tel" placeholder="Phone" name="cust_phone">
    </div>
    <div class="col2">
        <p>Customer city : </p>
        <input type="text" placeholder="City" name="cust_city">
        <p>Customer street : </p>
        <input type="text" placeholder="Street" name="cust_street">
        <p>Zip code : </p>
        <input type="number" placeholder="Zip code" name="cust_zipcode">
        <p>Percent : </p>
        <input type="number" placeholder="Percent" name="cust_percent">
        <button class="btn btn-success" type="submit">Edit</button>
    </div>
</form>

<script>




    $(function() {
        var id = document.getElementById("cust").getAttribute("name");


        var data = {
            card_number: id,
        };

        $.ajax({
            type: 'get',
            url: '/get_customer_card_by_card_number',
            dataType: 'json',
            data: data,

            beforeSend: function (xhr) {
                xhr.setRequestHeader('Content-Type', 'application/json')
            },
            success: function (response) {

                $("input[name='cust_card_num']").val(response.card_number);
                $("input[name='cust_surname']").val(response.cust_surname);
                $("input[name='cust_name']").val(response.cust_name);
                $("input[name='cust_patron']").val(response.cust_patronymic);
                $("input[name='cust_phone']").val(response.phone_number);
                $("input[name='cust_city']").val(response.city);
                $("input[name='cust_street']").val(response.street);
                $("input[name='cust_zipcode']").val(response.zip_code);
                $("input[name='cust_percent']").val(response.percent);
            },
            error: function (err) {
                console.log(err);
            }
        });

        $('#cust').submit(function(e) {
            e.preventDefault();

            var data = {card_number: $(this).find('[name=cust_card_num]').val()
                , cust_surname: $(this).find('[name=cust_surname]').val()
                , cust_name: $(this).find('[name=cust_name]').val()
                , cust_patronymic: $(this).find('[name=cust_patron]').val()
                , phone_number: $(this).find('[name=cust_phone]').val()
                , city: $(this).find('[name=cust_city]').val()
                , street: $(this).find('[name=cust_street]').val()
                , zip_code: $(this).find('[name=cust_zipcode]').val()
                , percent: $(this).find('[name=cust_percent]').val()};

            $.ajax({
                type: 'POST',
                url: '/edit_customer_card/'+id,
                dataType: 'json',
                data: JSON.stringify(data),

                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Content-Type', 'application/json')
                },
                success: function (response) {
                    alert("Success");

                },
                error: function (request, textStatus, errorThrown) {
                    alert(request.getResponseHeader('error'));
                }
            });
        });


    });


</script>


</body>
</html>

