<!--складний + параметр-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>All checks with all promo products from category</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/table_style.css" type="text/css">

</head>
<body>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>


<div class="col2">
    <h1>All checks with all promo products from category</h1>

    <form id="cat_form">

        <p>Category: </p>
        <input type="text" placeholder="Category" name="category">
        <button type="submit">Search</button>
    </form>


    <table id="table" class="table table-hover table-bordered" style="visibility: hidden;">
        <thead>
        <th>CHECK_NUMBER</th>
        <th>PRINT DATE</th>
        <th>SUM TOTAL</th>
        <th>VAT NUMBER</th>

        </thead>
        <tbody id="table_body">
        <tr class = "table_row" >

        </tr>
        </tbody>
    </table>

    <h3 id="no_results" style="visibility: hidden">No results found</h3>


</div>


<script>
    var $checks = $('#table_body');

    function formTableRow(check){
        return '<tr class = "table_row"><td>' + check.check_number + '</td>' +
            '<td>' + check.print_date + '</td>' +
            '<td>' + check.sum_total + '</td>' +
            '<td>' + check.vat + '</td>' +
            '</tr>';
    }

    $(function() {

        $('#cat_form').submit(function(e) {
            e.preventDefault();

            $checks.empty();


            $.ajax({
                type: 'GET',
                url: '/get_all_checks_with_promo_products_from_category/'+$(this).find('[name=category]').val(),

                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Content-Type', 'application/json')
                },
                success: function (response) {
                    // $('input').val('');
                    if(response.length == 0){
                        document.getElementById("table").style.visibility = 'hidden';
                        document.getElementById("no_results").style.visibility = 'visible';
                    }
                    else {
                        document.getElementById("table").style.visibility = 'visible';
                        document.getElementById("no_results").style.visibility = 'hidden';
                        response.forEach(function (check) {
                            $checks.append(formTableRow(check));
                        });
                    }


                }
            });
        });




    });




</script>


</body>
</html>