<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Products that all clients from city buy</title>
    <link rel="stylesheet" href="/table_style.css" type="text/css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link href="/select2-develop/dist/css/select2.min.css" rel="stylesheet" />
    <script src="/select2-develop/dist/js/select2.min.js" defer></script>

</head>
<body>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>


<div class="col2">
    <h1>Products that all clients from city buy</h1>

    <label for="city">Choose city:</label>
    <select id="city" name="city" form="city_form">
        <!--<option value="audi">Audi</option>-->
    </select>

    <div class = "input_container">Street:
        <div class= "input_info" id="street_container" >
            <select id='selCity' style="width: 100%;">
                <!-- <option value='0'>Select City</option>  -->
            </select>
        </div>
    </div>

    <form id="city_form">

        <!--<p>City: </p>-->
        <!--<input type="text" placeholder="City" name="city">-->
        <button type="submit">Search</button>
    </form>

    <table id="table" class="table table-hover table-bordered" style="visibility: hidden;">
        <thead>
        <th>PRODUCT NAME</th>
        <th>PRODUCT CHARACTERISTICS</th>

        </thead>
        <tbody id="table_body">
        <tr class = "table_row" >

        </tr>
        </tbody>
    </table>

</div>


<script>
    var $products = $('#table_body');

    function formTableRow(cat){
        return '<tr class = "table_row"><td>' + cat.category_name + '</td><td>' + cat.products_count + '</td></tr>';
    }

    $(function() {

        $('#city_form').submit(function(e) {


            e.preventDefault();


            document.getElementById("table").style.visibility = 'visible';
            $products.empty();

            console.log(JSON.stringify({
                city: $(this).find('[name=city]').val()
            }));



            $.ajax({
                type: 'GET',
                url: '/get_all_products_that_all_clients_from_city_buy/'+$(this).find('[name=city]').val(),

                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Content-Type', 'application/json')
                },
                success: function (response) {
                    $('input').val('');


                    response.forEach(function (prod) {
                        $products.append(formTableRow(prod));
                    });
                }
            });
        });



    $("#selCity").select2({
        // minimumInputLength: 2,
        multiple: false,
        ajax: {
            url: '/get_all_cities',
            type: "post",//post
            dataType: 'json',
            delay: 250,

            data: function (params) {
                return {
                    text: params.term // search term

                };
            },
            processResults: function (response) {
                return {
                    results: response
                };
            },
            cache: true
        }
    });
    });




</script>


</body>
</html>