<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Categories product count</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/table_style.css" type="text/css">

</head>
<body>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>


<div class="col2">
    <h1>Number of products in each category</h1>

    <table class="table table-hover table-bordered">
        <thead>
        <th>CATEGORY NAME</th>
        <th>PRODUCT COUNT</th>

        </thead>
        <tbody id="table_body">
        <tr class = "table_row" >

        </tr>
        </tbody>
    </table>

</div>


<script>
    var $categories = $('#table_body');
    getAll($categories);

    function formTableRow(cat){
        return '<tr class = "table_row"><td>' + cat.category_name + '</td><td>' + cat.products_count + '</td></tr>';
    }

    function getAll($categories){
        $.ajax({
            type: 'GET',
            url: '/get_categories_count',

            success: function (response) {
                response.forEach(function (cat) {
                    $categories.append(formTableRow(cat));
                });

            }
        });
    }

</script>


</body>
</html>