<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Supermarket</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/main.css" type="text/css">
</head>
<body>
<div th:insert="~{fragments/header :: head}"></div>

<!--<div th:if="${#authorization.expression('hasAuthority(''MANAGER'')')}" class="btn-group btn-group-justified">-->
<h2 class="main_h2">Add info</h2>
<div class="my-group-main my-group btn-group btn-group-justified" style="margin-top: 15px;">
    <a href="/add" class="btn btn-warning">Add</a>
</div>

<h2 class="main_h2">Edit/Remove info</h2>
<div class="my-group-main btn-group btn-group-justified">
    <a href="/category" class="btn btn-warning">Category</a>
    <a href="/employee" class="btn btn-warning">Employee</a>
    <a href="/customer_card" class="btn btn-warning">Customer_card</a>
</div>
<div class="my-group-main-2 btn-group btn-group-justified">
    <a href="/product" class="btn btn-warning">Product</a>
    <a href="/store_product" class="btn btn-warning">Store product</a>
    <a href="/check" class="btn btn-warning">Check</a>
</div>


<h2 class="main_h2">Category information</h2>
<div class="my-group-main">
    <a href="/all_categories_sorted_name" class="btn btn-warning">Get all categories sorted by name</a>


</div>

<h2 class="main_h2">Employee information</h2>
<div class="my-group-main">
    <a href="/cassiers_sorted_surname" class="btn btn-warning">Get all cassiers sorted by surname</a>
    <a href="/phone_address_by_empl_surname" class="btn btn-warning">Get phone and address by employee surname</a>


</div>

<h2 class="main_h2">Product information</h2>
<div class="my-group-main">
    <a href="/products_by_category_sorted_name" class="btn btn-warning">Get products with category sorted by name</a>
    <a href="/all_products_sorted_name" class="btn btn-warning">Products sorted by name</a>
    <a href="/all_products_by_category" class="btn btn-warning">Get products with category</a>


</div>
<!--<h2 class="main_h2">Get information about</h2>-->
<!--<div class="my-group-main btn-group btn-group-justified">-->
    <!--<a href="/category_requests" class="btn btn-warning">Category</a>-->
    <!--<a href="/employee_requests" class="btn btn-warning">Employee</a>-->
    <!--<a href="/customer_card_requests" class="btn btn-warning">Customer_card</a>-->
<!--</div>-->
<!--<div class="my-group-main-2 btn-group btn-group-justified">-->
    <!--<a href="/product_requests" class="btn btn-warning">Product</a>-->
    <!--<a href="/store_product_requests" class="btn btn-warning">Store product</a>-->
    <!--<a href="/check_requests" class="btn btn-warning">Check</a>-->
<!--</div>-->

</body>
</html>