<!--групування-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Customers</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/table_style.css" type="text/css">

</head>
<body>
<div th:insert="~{fragments/header :: head}"></div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>


<div class="col2">
    <h1>Customer info</h1>

    <table id="my_table" class="table table-hover table-bordered">
        <thead>
        <th>CARD NUMBER</th>
        <th>CUSTOMER SURNAME</th>
        <th>CUSTOMER NAME</th>
        <th>CUSTOMER PATRONYMIC</th>
        <th>PHONE NUMBER</th>
        <th>CITY</th>
        <th>STREET</th>
        <th>ZIPCODE</th>
        </thead>
        <tbody id="table_body">
        <tr class = "table_row" >

        </tr>
        </tbody>
    </table>

</div>

<script>
    var $table = $('#table_body');
    getAll($table);

    function formTableRow(customer){
        return '<tr class = "table_row">' +
            +'<td>' + customer.card_number + '</td>'+
            '<td>' + customer.cust_surname + '</td>'
            +'<td>' + customer.cust_name + '</td>'
            +'<td>' + customer.cust_patronymic + '</td>'
            +'<td>' + customer.phone_number + '</td>'
            +'<td>' + customer.city + '</td>'
            +'<td>' + customer.street + '</td>'
            +'<td>' + customer.zip_code + '</td>'
            +'</tr>';
    }



    function getAll($table){
        $.ajax({
            type: 'GET',
            url: '/get_all_customers_contacts',

            success: function (response) {
                response.forEach(function (row) {
                    $table.append(formTableRow(row));
                });

            }
        });
    }




</script>


</body>
</html>