<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Product requests</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/main.css" type="text/css">
</head>
<body>
<div th:insert="~{fragments/header :: head}"></div>


<h2 class="main_h2">Edit/Remove info</h2>
<div class="my-group-main btn-group btn-group-justified">
    <!--<a href="/category" class="btn btn-warning">Category</a>-->
    <!--<a href="/employee" class="btn btn-warning">Employee</a>-->
    <!--<a href="/customer_card" class="btn btn-warning">Customer_card</a>-->
</div>
<div class="my-group-main-2 btn-group btn-group-justified">
    <!--<a href="/product" class="btn btn-warning">Product</a>-->
    <!--<a href="/store_product" class="btn btn-warning">Store product</a>-->
    <!--<a href="/check" class="btn btn-warning">Check</a>-->
</div>

</body>
</html>